<div class="loader"></div>
<%= javascript_include_tag 'backboneApp', 'data-turbolinks-track' => true %>

<div id="speech-input">
  <button id="microphone">
    <%= image_tag('mic.gif', alt: 'Start', id: 'status_img') %>
  </button>
  <div id="results">
    <div id="status"></div>
    <span id="final_span"></span>
    <span id="interim_span"></span>
  </div>
</div>


<div id="main-container">

  <div id="word-chart">
    <div style="margin-left: 50px;"><input type="button" id ="datepicker" class="datepicker"></div>
      <div id="chart_container">
            <div id="y_axis"></div>
            <div id="chart"></div>

            <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" style=" margin-left: 40px; width: 900px;">
                <div class="ui-slider-range ui-widget-header" style="left: 0%; width: 100%;">
                </div>
              <a id="left-slider" class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%; border: 1px solid black;"></a>
              <a id="right-slider" class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%; border: 1px solid black;"></a>
            </div>
      </div>
    <div id="treemap"></div>
  </div>

</div>

