<%= javascript_include_tag 'backboneApp', 'data-turbolinks-track' => true %>

<div id="speech-input">



  <button id="microphone" style="border: 0; background-color:transparent">
    <%= image_tag('mic.gif', alt: 'Start', id: 'status_img') %>
  </button>


  <div id="results">
    <div id="status"></div>
    <span id="final_span"></span>
    <span id="interim_span"></span>
  </div>


</div>


<div id="word-chart">
  <div id="chart_container">
          <div id="y_axis"></div>
          <div id="chart"></div>
         <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false" style="margin-top: 100px">
          <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 3.2%; width: 56.8%;">

          </div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 3.2%;"></a>
          <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 60%;"></a>
        </div>
</div>
