<%= javascript_include_tag 'backboneApp', 'data-turbolinks-track' => true %>

<div id="speech-input">

  <div id="status"></div>

  <button id="microphone" style="border: 0; background-color:transparent">
    <%= image_tag('mic.gif', alt: 'Start', id: 'status_img') %>
  </button>

  <div id="word-chart"></div>

  <div id="results">
    <span id="final_span"></span>
    <span id="interim_span"></span>
  </div>


</div>



<script type="text/template" id="graph-template">
  <h3>Words:</h3>
  <%% _.each(this.collection.models, function(wordModel, index){  %>
    <p>"<%%= wordModel.attributes.letters %>" created at: <%%= wordModel.attributes.created_at %></p>
  <%% }); %>
</script>
