<%= javascript_include_tag 'backboneApp' %>

<div class="loader"></div>

<div id="speech-input">
  <button id="microphone">
    <%= image_tag('mic.gif', alt: 'Start', id: 'status_img') %>
  </button>
  <div id="results">
    <div id="status"></div>
    <span id="final_span"></span>
    <span id="interim_span"></span>
  </div>
</div>

<div id="main-container">
<i id="search-icon" class="fa fa-search"></i>

  <div id="word-chart">

      <br>
      <div id="search">
        <input type="text" placeholder="Search" id="search-input" >
        <button id="word-search"><i class="fa fa-search"></i></button>
      </div>
      <br>
      <button id="live">Live</button>

    <!--   Calendar -->
    <div id="calendar" class="container">
      <div class="row">
        <div id="calendar-slider" class='col-sm-3'>

          <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
              <input type='text' class="form-control" />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
          <button id="datetimebutton">Set Time</button>
          <p>Current interval: <span id="tick-interval"></span></p>
        </div>
      </div>
    </div>
  </div>

  <div id="chart_container"></div>
  <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" style=" margin-left: 40px; width: 900px;">
    <div id ="range-slider"class="ui-slider-range ui-widget-header" style="left: 0%; width: 100%;"></div>
    <a id="left-slider" class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%; border: 1px solid black;"></a>
    <a id="right-slider" class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%; border: 1px solid black;"></a>
</div>

<div id="legend">
  <p>DateTime: <span id="legend-datetime"></span></p>
  <p>Spoken Words: <span id="legend-words"></span></p>
  <ul id="queries"></ul>
</div>

<div id="extra-menu"><button id="alchemy">Search Speech For Concepts</button>
<button id="transcript">Generate Transcript</button></div>


    <!--  <div class="toggle-close"><i id="treemap-toggle" class="fa fa-arrows-v toggle-icon"></i></div> -->
    <div class="col-m-3"id="transcript-box">

    </div>
    <div id="treemap"></div>
    <!-- <div class="toggle-close"><i id="google-toggle" class="fa fa-arrows-v toggle-icon"></i></div> -->
    <div id="google-results"></div>

  </div>
</div>



<div id="scroller"><i id="scroller-icon" class="fa fa-caret-square-o-up"></i></div>
