<div id="welcome-background">
  <h1 id="welcome">Welcome to Relephant</h1>
  <h3 style="margin-left: 40px">Record, Remember, Research Everything... </h3>
  <button style=" margin-left: 30%; border-radius: 5px; background: rgba(255,255,255,0.8); font-family : Lucida Grande; padding: 5px; margin-top: 20px"><a href="<%= new_user_session_path %>">Sign In</a></button>
  <button style=" margin-left: 0; border-radius: 5px; background: rgba(255,255,255,0.8); font-family : Lucida Grande; padding: 5px; margin-top: 20px"><a href="<%= new_user_registration_path %>">Sign Up</a></button>
<div>

